<h1 class="display-6 text-center mb-4">ACERCA DE:</h1>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading1">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
        El Autor
      </button>
    </h2>
    <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" >
      <div class="accordion-body">
        <h5>Alejandro Salgado Cerdeira</h5>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="heading2">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
        Herramientas y Tecnologías
      </button>
    </h2>
    <div id="collapse2" class="accordion-collapse collapse show" aria-labelledby="heading2" >
      <div class="accordion-body">
        <ul>
            <li>
                Angular CLI: 13.2.5
            </li>
            <li>
                node: 16.14.0
            </li>
            <li>
                npm: 8.3.1
            </li>
            <li>
                bootstrap: 5.1.3
            </li>
            <li>
                typescript: 4.5.2
            </li>
            <li>
                Visual Studio Code: 1.65
            </li>        
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="heading3">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
        Directivas
      </button>
    </h2>
    <div id="collapse3" class="accordion-collapse collapse show" aria-labelledby="heading3" >
      <div class="accordion-body">
          <ul>
              <li>
                [(ngModel)] : Colocada de esta manera aseguro el DataBinding de dos sentidos en los formularios de login.
              </li>
              <li>
                  *ngIf : Usada múltiples veces, especialmente en el formulario de registro.
              </li>
              <li>
                [ngClass] : A modo de pseudo-switch en la tabla y en el formulario de registro.
              </li>
              <li>
                  ngFor : En la tabla de dinosaurios
              </li>
          </ul>
        
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="heading4">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
        Bibliografía
      </button>
    </h2>
    <div id="collapse4" class="accordion-collapse collapse show" aria-labelledby="heading4" >
      <div class="accordion-body">
        <ul>
            <li>
                <a href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-4/">Routing en Angular: Guía completa</a>
            </li>
            <li>
                <a href="https://mugan86.medium.com/formularios-en-angular-diferencias-template-y-reactive-forms-e37af5e30b81">Formularios en Angular - Diferencias entre Template y Reactive Forms</a>
            </li>
            <li>
                <a href="https://aula.iesjulioverne.es/mod/url/view.php?id=509">2º DAW: Desarrollo Web en Entorno Cliente (21-22) - Apuntes de la unidad - Angular</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
  
</div>