<div class="encabezado">
  <h1>¡Hola {{ destino }}!</h1>
</div>

<div class="container">
  <h3>Ejemplo de Interpolación con Objeto</h3>
  <hr>
  <app-viewmodelo></app-viewmodelo>
</div>

<br><hr><hr><br>

<div class="container">
  <h3>Ejemplo de Interpolación con Método</h3>
  <hr>
  <app-ejmetodo></app-ejmetodo>
</div>

<br><hr><hr><br>

<div class="container" >
  <h3>Ejemplo de Property Binding</h3>
  <hr>
  <app-ejpropertybinding></app-ejpropertybinding>
</div>

<br><hr><hr><br>

<div class="container" >
  <h3>Ejemplo de Event Binding</h3>
  <hr>
  <app-ejeventbinding></app-ejeventbinding>
</div>

<br><hr><hr><br>

<div class="container" >
  <h3>Ejemplo de Two Way Binding</h3>
  <hr>
  <app-ej2waybinding></app-ej2waybinding>
</div>

<br><hr><hr><br>

<div class="container" >
  <h3>Ejemplo de directiva ngIf</h3>
  <hr>
  <app-ejdirectivangif></app-ejdirectivangif>
</div>

<br><hr><hr><br>

<div class="container" >
  <h3>Ejemplo de directiva ngStyle</h3>
  <hr>
  <app-ejdirectivangstyle></app-ejdirectivangstyle>
</div>

<br><hr><hr><br>

<div class="container" >
  <h3>Ejemplo de directiva ngClass</h3>
  <hr>
  <app-ejdirectivangclass></app-ejdirectivangclass>
</div>

<br><hr><hr><br>

<div class="container" >
  <h3>Ejemplo de directiva ngFor</h3>
  <hr>
  <app-ejdirectivangfor></app-ejdirectivangfor>
</div>

<br><hr><hr><br>

<div class="container" >
  <h3>Ejemplo de directiva ngFor con objetos 1</h3>
  <hr>
  <app-arrayobjetos></app-arrayobjetos>
</div>

<br><hr><hr><br>

<div class="container" >
  <h3>Ejemplo de directiva ngSwitch</h3>
  <hr>
  <app-ejdirectivangswitch></app-ejdirectivangswitch>
</div>

<br><hr><hr><br>

<div class="container" >
  <h3>Ejemplo de directiva ngFor con objetos 2</h3>
  <hr>
  <app-ejmidirectiva></app-ejmidirectiva>
</div>

<br><hr><hr><br>

<div class="footer">
  <app-copyright></app-copyright>
</div>