<div class="container mt-3 text-center">
  <h2 clas="display-4">Welcome to Jurassic Park!</h2>

  <table class="table mt-2 px-3 table-hover table-responsive">
    <thead class="table-dark">
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Era</th>
        <th>Dieta</th>
        <th>Altura</th>
        <th>Longitud</th>
        <th>Peso</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dino of Dinosuarios" class="align-middle"
          [ngClass]="{
                        'carni': dino.diet=='Carnivorous',
                        'herbi': dino.diet=='Herbivorous',
                        'omni': dino.diet=='Omnivorous'}">
        <td>
          <img src="{{imageRoute}}{{dino.image}}" class="img-responsive shadow dinoFoto">
        </td>
        <td>{{ dino.name }}</td>
        <td>{{ dino.era }}</td>
        <td>{{ dino.diet }}</td>
        <td>{{ dino.feetTall }}''</td>
        <td>{{ dino.feetLong }}''</td>
        <td>{{ dino.pounds }} lbs</td>
      </tr>
    </tbody>
  </table>
</div>
