<div class="container mt-5">
  <h2>Welcome to Jurassic Park!</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Era</th>
        <th>Dieta</th>
        <th>Altura</th>
        <th>Longitud</th>
        <th>Peso</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dino of Dinosuarios" [ngSwitch]="dino.diet">
        <td>
          <img src="{{imageRoute}}{{dino.image}}" class="img-responsive img-thumbnail dinoFoto">
        </td>
        <td>{{ dino.name }}</td>
        <td>{{ dino.era }}</td>
        <td>{{ dino.diet }}</td>
        <td>{{ dino.feetTall }}''</td>
        <td>{{ dino.feetLong }}''</td>
        <td>{{ dino.pounds }} lbs</td>
      </tr>
    </tbody>
  </table>
</div>
