<div class="d-flex justify-content-center">
  <div class="justify-content-center mb-2 mb-lg-0 " *ngIf="isLoged()">
      <h2 class="text-primary text-center display-4">MY DEAR <span>{{userloged.username | uppercase}}</span></h2>
      <app-dino-table></app-dino-table>
  </div>
  <div class="d-flex col-5 align-middle " *ngIf="!isLoged()">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title text-center">ACCESO</h5>
        <hr>
        <h6 class="card-subtitle mb-2 text-danger text-center">Necesitas estar registrado para acceder al contenido
        </h6>
        <input name="user" class="form-control" type="text" placeholder="Mail" [(ngModel)]="mail" />
        <input name="password" class="form-control mt-1" type="password" placeholder="Password"
          [(ngModel)]="password" />
        <button class="btn btn-success mt-2" type="submit" (click)="login()">Login</button>
        <a class="nav-link" routerLink="/registro">No tengo cuenta, llévame al registro</a>
      </div>
    </div>
  </div>

</div>
